@model string

@{
    ViewData["Title"] = "Access denied";
}

<div class="container vw-100">
    <div class="col-12">
        <header>
            <h2 class="text-danger">Access denied.</h2>
            <p class="text-danger">You are not authorized by the Empire to see this resource.</p>
            <p>@Model</p>
        </header>
    </div>
</div>
