@{
    ViewData["Title"] = "Connect Discord";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        To connect your Discord account, please direct message VoopAI#5022
        the command /connectsite @ViewData["key"]
    </p>
</div>
