@{
    ViewData["Title"] = "Connect Twitch";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        To connect your Twitch account, please post in the channel chat
        the command !connectsite @ViewData["key"]
    </p>
</div>
