@{
    ViewData["Title"] = "Connect Minecraft";
}

<div class="container vw-100">
    <div class="col-12">
        <h2>@ViewData["Title"]</h2>
        <div>
            <p>
                To connect your Minecraft account, please use the command
                <b>
                    /connect @ViewData["key"]
                </b>
            </p>
        </div>
    </div>
</div>