@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container vw-100">
    <div class="col-12">
        <h2>@ViewData["Title"]</h2>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>