@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container vw-100">
    <div class="col-12">
        <h1>@ViewData["Title"]</h1>

        <p>My privacy policy is pretty simple: The only data kept here is provided by you. Your email is sent to nobody, 
        your password is salted and hashed before being stored, and the only public things are your username and whatever
        you post. This site has no ads, and just simple cookies for knowing you're logged in. I will not sell your data, 
        release your data, or probably even ever look at your data. Google analytics may track whatever they track for
        purposes of helping us understand how you use our site, including the pages you look at and duration.</p>
    </div>
</div>
