@{
    ViewData["Title"] = "Nerdcraft";
}

<head>
    <meta property="og:title" content="Nerdcraft: The Only DarkMC Server">
    <meta property="og:description" content="Nerdcraft: The Guide.">
    <meta property="og:url" content="https://SpookVooper.com/Nerdcraft/Guide">
    <meta property="og:image" content="/media/unity-512.png">
    <meta name="twitter:card" content="/media/unity-512.png">
</head>

<div class="text-center">
    <h1 class="display-3">Nerdcraft Guide</h1>
    <h1>Learn how it works</h1>
    <hr />
    <br />

    <div class="nerdcraft-guide-image"></div>
    <hr />
    <br />
</div>

<h1 class="display-4 text-center" style="color:mediumvioletred; display:block;">Learn to play</h1>
<p class="nerdcraft-info text-center">
    DarkMC and Nerdcraft have many custom commands and gameplay elements, 
    so make sure you read below to get an idea of some of the basic ways 
    you can interact with the plugin.
</p>

<div>
    <h2 class="nerdcraft-small-title">Tips for starting</h2>
    <p class="nerdcraft-rules-info">
        Starting in a new city isn't easy, but there's a few things that make it easier. First, get a server job. 
        Whether it's police or crime, it will help you get a foothold. Next, find a company that will hire you. 
        While you wait, there's a public mine left of spawn. Worst case, mine and sell the proceeds to get an 
        apartment. Eventually, you'll make friends, join a company, and get land of your own. Just be smart!
    </p>

    <h2 class="nerdcraft-small-title">Connecting</h2>
    <p class="nerdcraft-rules-info">
        Making an account on this website and connecting it allows for many features.
        These features include discord integration, using the stock exchange, creating
        groups, trading, and becoming a part of the larger community.
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/connect
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Starts the connection process
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/connect [key]
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Finishes the connection process
    </p>

    <h2 class="nerdcraft-small-title">Placements</h2>
    <p class="nerdcraft-rules-info">
        Placements are blocks you place in land you don't own. You have limited placements in public
        land and any placement is unprotected. When you log off, placements in public land are removed
        after 5 minutes for cleaning purposes. Placements in private land which you don't own can be considered
        defacing property.
    </p>
    <p class="nerdcraft-rules-info">
        Some good ideas for placements include:
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- A stand in the main square
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Blocking a hallway when you're being violently murdered
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Escaping a hole you fell into
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Adding roleplay elements
    </p>
    <p class="nerdcraft-rules-info">
        Bad uses of placements include:
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Placement spam
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Griefing property
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Floating blocks
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Defiling public works
    </p>

    <h2 class="nerdcraft-small-title">Groups</h2>
    <p class="nerdcraft-rules-info">
        These commands are needed for several things.
        Remember that groups are made on this website, not on the server.
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/group
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Shows you which group you have selected.
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/group select [name]
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Selects a SV group so you can /groupbuy and make shops with it.
    </p>

    <h2 class="nerdcraft-small-title">Economy</h2>
    <p class="nerdcraft-rules-info">
        Send and see your money.
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/balance
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Shows your balance.
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/pay [name]
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Will send money to the specified player.
    </p>



    <h2 class="nerdcraft-small-title">Help</h2>
    <p class="nerdcraft-rules-info">
        You may need to request assistance if you are met with crime.
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/911 [message]
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Provide a message to the police. Please include your name and important information.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Spamming the 911 system or false reports are against server rules.
    </p>

    <h2 class="nerdcraft-small-title">Jobs</h2>
    <p class="nerdcraft-rules-info">
        Jobs pay you hourly and are a major gameplay factor in the server.
    </p>
    <p class="nerdcraft-rules-info">
        Please note this is a server job and you can also be hired by players through the Group
        system, which includes a stock market and other awesome stuff.
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/job
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Lists general job information.
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/job join [job]
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Joins the specified job
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Caps senstitive, can be: Police Officer, Thief, Citizen (This will be expanded)
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/job kit
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Provides you with items for your job
    </p>


    <h2 class="nerdcraft-small-title">Doors</h2>
    <p class="nerdcraft-rules-info">
        Doors can be owned by people or groups (you can make a group on this site!).
    </p>
    <p class="nerdcraft-rules-info">
        Doors can be created by plot builders and bought by anyone. Doors are rented for the price
        set every hour. Doors pay rent to the plot owner.
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/door
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Lists general door info for the door you are looking at
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/door create
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Creates a door claim
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/door lock
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Sets a door to locked
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/door unlock
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Sets a door to unlocked
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/door buy
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Purchases a door for set price (that price is your hourly rent)
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/door title [name]
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Sets the name for a door
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/door price [price]
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Sets the price for a door
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/door remove
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Removes a door claim
    </p>

    <h2 class="nerdcraft-small-title">Plots</h2>
    <p class="nerdcraft-rules-info">
        Plots can be owned by people or groups (you can make a group on this site!).
    </p>
    <p class="nerdcraft-rules-info">
        Plots can be modified (without use of placements) by people in the Builders list
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/plot
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Lists general plot info
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/plot builders
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Lists a plot's builders
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/plot builders add [name]
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Adds a builder to a plot
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/plot builders remove [name]
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Removes a builder from the plot
    </p>
    <p class="nerdcraft-rules-info">
        Plots are initially sold in groups by the government in auctions. After this,
        they may be resold.
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/plot togglesale
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Flips a plot to for sale or not for sale
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/plot price [price]
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Sets the price for a plot
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/plot buy
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Personally buys a plot
    </p>
    <p class="nerdcraft-cmd-info">
        &emsp;/plot title [name]
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Sets the name for a plot
    </p>


</div>