@{
    ViewData["Title"] = "Nerdcraft";
}

<head>
    <meta property="og:title" content="Nerdcraft: The Only DarkMC Server">
    <meta property="og:description" content="A one-of-a-kind, unique Minecraft multiplayer experience.">
    <meta property="og:url" content="https://SpookVooper.com/Nerdcraft">
    <meta property="og:image" content="/media/unity-512.png">
    <meta name="twitter:card" content="/media/unity-512.png">
</head>

<div class="text-center">
    <h1 class="display-3">Nerdcraft</h1>
    <h1>Welcome to a Minecraft server like no other.</h1>
    <hr />
    <br />

    <div class="nerdcraft-main-image"></div>
    <hr />
    <br />
</div>

<h1 class="display-4 text-center" style="color:mediumvioletred; display:block;">DarkMC</h1>
<p class="nerdcraft-info text-center">
    DarkMC is a custom plugin that provides DarkRP-like fun and experiences within Minecraft.
    Powered by the SpookVooper API and asynchronous code, DarkMC is fast, lightweight, and
    infinitely expandable. Expect feature updates weekly, as the plugin grows and matures.
</p>

<div class="nerdcraft-code-image"></div>

<div>
    <h2 class="nerdcraft-small-title">Jobs</h2>
    <p class="nerdcraft-small-info">
        You need money, we get it. Our closed-economy, simulated at a local and global scale,
        can be hard to start with. You can't start trading stocks without capital. But we have you covered. You can join the police - or become a
        criminal. Maybe working for a radio station, or a small mine sounds more exciting to you? It's your life and your choice. Maybe one day
        you'll have employees of your own.
    </p>
</div>
<div>
    <h2 class="nerdcraft-small-title">Groups</h2>
    <p class="nerdcraft-small-info">
        You have friends, and big plans. There's money to make - and rivals to squash. SpookVooper's group system allows you 
        to organize your contacts into a proper form - salaries, permissions, and a group logo for ultimate customization. Ready 
        to hit the market? Great, you can get posted into the Stock Exchange and start collecting cash from investors.
    </p>
</div>
<div>
    <h2 class="nerdcraft-small-title">Plots</h2>
    <p class="nerdcraft-small-info">
        Small plots and useless land is over. Auctions strike the best deals for companies ready to own some real estate - 
        and the right to rent. Door ownership, a complex system for determining authority, and a large market ensures that not 
        only can you purchase some property, but you can make it work for you.
    </p>
</div>
<div>
    <h2 class="nerdcraft-small-title">Government</h2>
    <p class="nerdcraft-small-info">
        Maybe rather than a lockpick you prefer to flex your power with legislation. With a full functioning simulated 
        government, with districts and elections, you have the power to change the world in your image. Plan new city projects, 
        modify the tax rates, and impose laws on citizens to keep the city safe. This is your world - now get some votes.
    </p>
</div>
<div>
    <h2 class="nerdcraft-small-title">Economy</h2>
    <p class="nerdcraft-small-info">
        This is the real deal. Inflation, government debt, and the stock market react as they would in the real world. Every credit 
        is accounted for and tracked by a strong transaction system. There is no "admin shop" or magic money printer. Legislation and
        corporations keep the Economy running, backed by tested and exciting market systems.
    </p>
</div>
<div>
    <h2 class="nerdcraft-small-title">Immersion</h2>
    <p class="nerdcraft-small-info">
        It's a city, not a game. You can visit local stores, brew something and sell it, listen to the local radio, or 
        hang out with friends. Each step and choice you make is authentic, and there are hidden activities and experiences to
        be found across the map. With weekly updates, there is no end to the excitement.
    </p>
</div>