@{
    ViewData["Title"] = "Nerdcraft";
}

<head>
    <meta property="og:title" content="Nerdcraft: The Only DarkMC Server">
    <meta property="og:description" content="Nerdcraft jobs.">
    <meta property="og:url" content="https://SpookVooper.com/Nerdcraft/Jobs">
    <meta property="og:image" content="/media/unity-512.png">
    <meta name="twitter:card" content="/media/unity-512.png">
</head>

<div class="text-center">
    <h1 class="display-3">Nerdcraft Jobs</h1>
    <h1>Make money and get things done.</h1>
    <hr />
    <br />

    <div class="nerdcraft-jobs-image"></div>
    <hr />
    <br />
</div>

<h1 class="display-4 text-center" style="color:mediumvioletred; display:block;">Rise the social ladder</h1>
<p class="nerdcraft-info text-center">
    Jobs are the essence of the economy - you can work for server jobs, 
    such as the police, or choose to work for a corporation - or both! 
    Special rules apply to jobs and must be followed to maintain a smooth 
    and enjoyable experience for residents.
</p>

<div>
    <h2 class="nerdcraft-small-title">Police rules</h2>
    <p class="nerdcraft-rules-info">
        1. Police may not commit crimes.
    </p>
    <p class="nerdcraft-rules-info">
        2. The Underground (subcity for criminals) is outside of legal territory.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- The Underground is considered once you enter the main Underground entrance.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Police may not arrest within the Underground.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Criminals may be apprehended on the way to the Underground.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Police may investigate in the Underground - but not stalk or follow specific criminals.
    </p>
    <p class="nerdcraft-rules-info">
        3. Police Officers must follow the commands of the Police Chief.
    </p>
    <p class="nerdcraft-rules-info">
        4. Use of force must be backed by a warrant.
    </p>
    <p class="nerdcraft-rules-info">
        5. Police should always attempt to arrest before violence.
    </p>
    <p class="nerdcraft-rules-info">
        6. 911 calls must be responded to at the best of an officer's ability/
    </p>
    <p class="nerdcraft-rules-info">
        7. The Police job must come before Corporate jobs, and corporate jobs may not fire a police
        officer for spending time responding to crimes.
    </p>

    <h2 class="nerdcraft-small-title">Criminal rules</h2>
    <p class="nerdcraft-rules-info">
        1. Criminals may not RDM (random kill).
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Criminals may perform "muggings".
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Violence may be used if a mugging victim runs away or tries to fight.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- A mugging victim cannot be punished for being too poor to pay your demands.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- You may not attack a mugging victim who pays your demands.
    </p>
    <p class="nerdcraft-rules-info">
        2. Criminals may only perform one major crime per hour
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- A major crime is considered to be breaking and entering a residence.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- You may not break and enter into an offline player's property.
    </p>
    <p class="nerdcraft-rules-info">
        3. Criminals may only perform one major crime per hour.
    </p>
    <p class="nerdcraft-rules-info">
        4. Criminals may not 'bait' citizens into the Underground.
    </p>
    <p class="nerdcraft-rules-info">
        5. Criminals may not perform crime in the Underground.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- The Underground is a safe zone.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- The Gang Leaders forbid conflict within the Underground.
    </p>

</div>