@{
    ViewData["Title"] = "Nerdcraft";
}

<head>
    <meta property="og:title" content="Nerdcraft: The Only DarkMC Server">
    <meta property="og:description" content="Nerdcraft general laws.">
    <meta property="og:url" content="https://SpookVooper.com/Nerdcraft/Laws">
    <meta property="og:image" content="/media/unity-512.png">
    <meta name="twitter:card" content="/media/unity-512.png">
</head>

<div class="text-center">
    <h1 class="display-3">Nerdcraft Laws</h1>
    <h1>Criminals will be persecuted - if caught.</h1>
    <hr />
    <br />

    <div class="nerdcraft-laws-image"></div>
    <hr />
    <br />
</div>

<h1 class="display-4 text-center" style="color:mediumvioletred; display:block;">Follow the law - or don't</h1>
<p class="nerdcraft-info text-center">
    In DarkMC, the law is important - it separates the citizens from the criminals. You can be either, 
    and it's up to you to decide how you will be seen by the community at large. Will you defend the poor, 
    or will you rob them? Will you write the laws or skirt them? These questions are yours to answer - 
    just remember if you do the crime, you may have to do the time.
</p>

<div class="nerdcraft-const-image"></div>

<div>
    <h2 class="nerdcraft-small-title">General Laws</h2>
    <p class="nerdcraft-rules-info">
        1. Murder and assault are illegal.
    </p>
    <p class="nerdcraft-rules-info">
        2. Breaking a contract or scamming a player for a value of less than ¢100 is illegal. (A value greater is simply not allowed.)
    </p>
    <p class="nerdcraft-rules-info">
        3. Robbery is illegal.
    </p>
    <p class="nerdcraft-rules-info">
        4. Entry into a residence without permission is illegal.
    </p>
    <p class="nerdcraft-rules-info">
        5. Destruction of property is illegal.
    </p>
    <p class="nerdcraft-rules-info">
        6. Lockpicking is illegal.
    </p>
    <p class="nerdcraft-rules-info">
        7. Impersonation of an officer is illegal.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- This includes wearing police clothing (blue cap).
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- This includes holding police equipment.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- This includes speech suggesting you are an officer.
    </p>
    <p class="nerdcraft-rules-info">
        8. Threats or incitement of violence are illegal.
    </p>
    <p class="nerdcraft-rules-info">
        9. The trade of chemical drugs (potions) is illegal.
    </p>
    <p class="nerdcraft-rules-info">
        10. Defacing property is illegal.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- You are given 10 placements you can use in public
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- These placements should be used with permission or in the public square
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Placements should be used in a clean and proper manner
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Placements blocking pathways are illegal
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Placements defiling property are illegal
    </p>
    <p class="nerdcraft-rules-info">
        11. Conspiracy to commit a crime is illegal.
    </p>
    <p class="nerdcraft-rules-info">
        12. Lying to a police officer can be persecuted.
    </p>
    <p class="nerdcraft-rules-info">
        13. Fleeing an officer can be persecuted.
    </p>
    <p class="nerdcraft-rules-info">
        14. All previously non-covered theft is illegal.
    </p>
    <p class="nerdcraft-rules-info">
        15. Obstruction of a road, even if within your own property, is illegal.
    </p>
</div>