@{
    ViewData["Title"] = "Nerdcraft";
}

<head>
    <meta property="og:title" content="Nerdcraft: The Only DarkMC Server">
    <meta property="og:description" content="Nerdcraft general rules.">
    <meta property="og:url" content="https://SpookVooper.com/Nerdcraft/RulesGeneral">
    <meta property="og:image" content="/media/unity-512.png">
    <meta name="twitter:card" content="/media/unity-512.png">
</head>

<div class="text-center">
    <h1 class="display-3">Nerdcraft Rules</h1>
    <h1>It only works if we follow them.</h1>
    <hr />
    <br />

    <div class="nerdcraft-rules-image"></div>
    <hr />
    <br />
</div>

<h1 class="display-4 text-center" style="color:mediumvioletred; display:block;">Strictly enforced</h1>
<p class="nerdcraft-info text-center">
    The rules on the server ensure fair gameplay and lasting enjoyment for our players.
    Players who consistently break rules will be permanently banned. Please ensure
    you follow rules as much as possible to ensure everyone has a smooth and fun
    experience. We can only run a city if we all work together.
</p>

<div>
    <h2 class="nerdcraft-small-title">General Rules</h2>
    <p class="nerdcraft-rules-info">
        1. Listen to staff members, their words are rules.
    </p>
    <p class="nerdcraft-rules-info">
        2. Follow all job-specific and local rules (links below).
    </p>
    <p class="nerdcraft-rules-info">
        3. Personal attacks that extend past roleplay are forbidden
    </p>
    <p class="nerdcraft-rules-info">
        4. Racism, sexism, and homophobia, outside of roleplay, will not be tolerated.
    </p>
    <p class="nerdcraft-rules-info">
        5. Make an active effort to maintain the roleplay environment and act within it
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- You are not born wealthy, a king, or anything else. You start from the bottom like everyone else.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- You cannot write another person's backstory, or force them to enact actions.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- You are not magical, and neither are your buildings. Things you build should not float or break realism.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- You do not have a right to be a jerk or annoying, and cannot complain if you are arrested for either.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- You cannot use multiple accounts to avoid NLR (5 minute death ban)
    </p>
    <p class="nerdcraft-rules-info">
        6. If you break the law, you'll probably be arrested. Only those with criminal jobs may break the laws. 
        Non-criminals breaking laws will be punished.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Laws are *not* rules and you will not get banned for breaking them as a criminal.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- The above is not true for non-criminals, which must follow all laws.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Criminals may not perform multiple major crimes (robbery, break-in) within an hour.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- After being knocked out you should wait an hour before committing a crime (above limitations apply).
    </p>
    <p class="nerdcraft-rules-info">
        7. There are additional rules which apply for each job.
        <a asp-controller="Nerdcraft" asp-action="Jobs">Which are here.</a>
    </p>
    <p class="nerdcraft-rules-info">
        8. False 911 calls are not allowed.
    </p>
    <p class="nerdcraft-rules-info">
        9. Raiding an offline player is not allowed.
    </p>
    <p class="nerdcraft-rules-info">
        10. If you find an exploit, bypass, or unintended gameplay mechanic that breaks protections,
        the economy, or anything else, it is <b style="color:red">mandatory</b> to report it. Failure to report, and
        use of exploits, will lead to a ban.
    </p>
    <p class="nerdcraft-rules-info">
        11. The use of modified clients other than optifine is not permitted - this will lead to a ban.
    </p>
    <p class="nerdcraft-rules-info">
        12. Spamming chat or using specific words (you know which ones) whill get you permanently muted or banned.
    </p>
    <p class="nerdcraft-rules-info">
        13. While public placements (blocks built on property you don't own) are allowed, the use of public placements primarily to make a mess will lead to a ban.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Placements are for creative use, like a tent or pop-up store.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Placements should not be used to spam things like signs.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Placements should not be used in a way that the server cannot properly clean up.
    </p>
    <p class="nerdcraft-rules-info-tab">
        &emsp;- Placements should not be used to insult, create inappropriate shapes, or similar.
    </p>

</div>