@model Election
@inject VooperContext context
@{
    ViewData["Title"] = "Start Election";
}

<div class="container vw-100">
    <div class="col-12">
        <h4>@ViewData["Title"]</h4>
        @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])


        <form method="post">
            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Type"></label>
                        <br />
                        <select class="form-control" asp-for="Type" asp-items="Election.GetElectionTypesListForDropdown()"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="District"></label>
                        <br />
                        <select class="form-control" asp-for="District" asp-items="District.GetDistrictListForDropdown(context)"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="container" style="align-content:flex-start">
                    <div class="d-flex">
                        <div class="flex-column" style="margin-right:5px; margin-left: -15px">
                            <button type="submit" class="btn btn-primary">Begin</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</div>